.carousel__item {
    @media screen and (min-width: 992px) {
      height: 500px;
    }
    @media screen and (max-width: 768px) {
      height: 300px;
    }
  }
  .carousel__img {
    border-radius: 20px;
    object-fit: cover;
  }